.form {
    font-family: "Karla", sans-serif;
    display: grid;
    grid-template: 40px 40px / 1fr 1fr; // columns' width / height (1 fraction = entire height)
    gap: 17px;

    @media (max-width: 768px) {
        display: grid;
        grid-template: 40px / 1fr;
    }

    .input {
        border-radius: 5px;
        border: 1px solid rgb(207, 124, 164);
        text-indent: 5px;
        height: 2.5em;
    }

    .vibe {

        padding-top: 12px;

        label {
            margin-left: 10px;
            white-space: nowrap;
        }

        input {
            display: none;
        }

        label:first-of-type {
            margin-left: 26px;
        }

        span {
            display: inline-block;
            border: 2px solid rgb(216, 202, 209);
            border-radius: 50%;
            margin: 0px 6px 0px 6px;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            position: relative;
            transition: width 0.1s, height 0.1s, margin 0.1s;
        }

        // selector for a span that is adjacent sibling to input:checked
        :checked+span {
            width: 20px;
            height: 20px;
            margin: 0px 6px 0px 6px;
            border: 2px solid rgb(210, 0, 102);
        }

        :checked+span:after {
            content: "\25CF";
            color: rgb(210, 0, 102);
            font-size: 20px;
            position: absolute;
            top: -5px;
            left: 2px;
        }
    }

    .checkbox {

        white-space: nowrap;

        input {
            display: none;
        }

        span {
            display: inline-block;
            border: 2px solid rgb(216, 202, 209);
            border-radius: 5px;
            width: 25px;
            height: 25px;
            vertical-align: middle;
            margin: 10px;
            position: relative;
            transition: width 0.1s, height 0.1s, margin 0.1s;
        }

        // selector for a span that is adjacent sibling to input:checked
        :checked+span {
            background: rgb(210, 0, 102);
            width: 25px;
            height: 25px;
            margin: 2px;
            border: none;
            margin: 10px;
        }

        :checked+span:after {
            content: '\2714';
            font-size: 20px;
            position: absolute;
            top: -2px;
            left: 5px;
            color: white;
        }

    }

    .button {
        grid-column: 1 / -1; // spans entire grid (from very beginning to very end of grid)
        width: 100%;
        max-width: 100%;
        padding: 0px 12px 0px 12px;
        border-radius: 5px;
        background-color: rgb(216, 202, 209);
        border: none;
        height: 3em;
        cursor: pointer;
        font-size: 16px;
        margin-top: 2px;
    }
}