.historyItem {
    
    margin-top: 12px;
    height: 100px;
    white-space:nowrap;
    overflow:hidden;
    clear: both;

    & .song {

        width: 90%;
        border-style: none;
        display: inline-block;
    }
}

.historyStar {
    display: inline-block;
    vertical-align: top;
    margin: 24px 24px 0px 0px;
}

.genre {
    display: inline-block;
    vertical-align: top;
    margin: 32px;
}