.historyItem {
    
    margin-top: 12px;
    height: 100px;
    white-space:nowrap;
    overflow: visible;
    clear: both;

    & .song {
        width: 88%;
        max-width: 88%;
        @media (max-width: 1024px) {
            width: 80%;
            max-width: 80%;
        }
        @media (max-width: 768px) {
            width: 70%;
            max-width: 70%;
        }
        border-style: none;
        display: inline-block;
    }
}

.historyStar {
    display: inline-block;
    vertical-align: top;
    margin: 24px 24px 0px 0px;
    max-width: 5%;
}

.genre {
    margin: 30px 24px 0px 24px;
    width: 10%;
    min-width: 10%;
    display: inline-block;
    vertical-align: top;
}

