.player {

    .song {
        border-style: none;
        margin-top: 36px;
    }
    
}

.playerStar {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 2px;
}

.genre {
    text-align: center;
}