.history {

    margin-top: 30px;
    border-radius: 12px;
    background: rgb(212, 201, 199);
    padding: 12px;
    height: 60vh;

    .heading {
        float: left;
        padding-left: 16px;
        margin-top: 2px;
    }

    label {
        float: right;
    }

    .placeholder {
        text-align: center;
        clear: both;
        padding: 100px;
        height: 100%;
    }

  
}